# Mercado Pago — necessário apenas se usar o Brick embutido (não para redirect)
# Obtenha em: https://www.mercadopago.com.br/developers/panel/app
VITE_MP_PUBLIC_KEY=TEST-1919673948054718-032310-42966e3ac5a52c4bd755b6e36ecbaa4b-409518128

# URL da API backend
VITE_API_URL=http://localhost:8080/api
